In [423]:
import pandas as pd 
import numpy as np

In [424]:
df=pd.read_csv("input\main.csv")
df

,SKU,DESCRIPTION,YEAR,CAPACITY,URL,PRICE,SELLER_INFORMATION,OFFER_DESCRIPTION,COUNTRY
0,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$295.00,TopWines Switzerland SA,1990Barbaresco Gaja Angelo,Switzerland
1,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$324.62,Vintage Grand Cru,Gaja Barbaresco1990,Hong Kong
2,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$329.00,The Redd Collection,"1990Barbaresco,Angelo Gaja",USA (CA)
3,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$338.68,Wine Walker (HK) Limited,"Gaja Barbaresco,1990,Italy,Piedmont",Hong Kong
4,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$396.83,Enoteca Properzio,Barbaresco Gaja19900.75lt.,Italy
...,...,...,...,...,...,...,...,...,...
11191,11625,"Dominio De Pingus,Peter Sisseck",2005,750ml,https://www.wine-searcher.com/find/dominio+de+...,$1695.00,Cellaraiders,2005Pingus,USA (NY)
11192,11625,"Dominio De Pingus,Peter Sisseck",2005,750ml,https://www.wine-searcher.com/find/dominio+de+...,$4847.00,Albany Vintners,"2005Pingus,Peter Sisseck",UK
11193,11625,"Dominio De Pingus,Peter Sisseck",2005,750ml,https://www.wine-searcher.com/find/dominio+de+...,$4912.50,Justerini & Brooks,"2005Domino DePingus,Pingus,Riberadel Duero,[In...",UK
11194,11625,"Dominio De Pingus,Peter Sisseck",2005,750ml,https://www.wine-searcher.com/find/dominio+de+...,$5875.00,Westgarth Wines,2005Pingus,USA (CA)
11195,11625,"Dominio De Pingus,Peter Sisseck",2005,750ml,https://www.wine-searcher.com/find/dominio+de+...,$9694.00,Albany Vintners,"2005Pingus,Peter Sisseck",UK

In [425]:
df.query('COUNTRY.str.startswith("USA").values',inplace=True)

In [426]:
df.to_csv('output/filteredCountry.csv',index=False,header=True)

In [427]:
df1=pd.read_csv("filteredCountry.csv")
df1

,SKU,DESCRIPTION,YEAR,CAPACITY,URL,PRICE,SELLER_INFORMATION,OFFER_DESCRIPTION,COUNTRY
0,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$329.00,The Redd Collection,"1990Barbaresco,Angelo Gaja",USA (CA)
1,11332,"Barbaresco,Angelo Gaja",2010,750ml,https://www.wine-searcher.com/find/barbaresco+...,$175.00,The Redd Collection,"2010Barbaresco,Angelo Gaja",USA (CA)
2,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,$304.00,The Redd Collection,"2009Barbaresco,Costa Russi,Angelo Gaja",USA (CA)
3,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,$359.99,Lynnway Liquor Mart,Gaja Costa Russi Barbaresco20092009750ml,USA (MA)
4,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,$379.00,The Old & Rare Wine Company,Angelo Gaja Costa Russi Langhe2009,USA (CA)
...,...,...,...,...,...,...,...,...,...
3025,11625,"Dominio De Pingus,Peter Sisseck",2005,750ml,https://www.wine-searcher.com/find/dominio+de+...,$949.00,The Redd Collection,"2005Dominiode Pingus,Peter Sisseck",USA (CA)
3026,11625,"Dominio De Pingus,Peter Sisseck",2005,750ml,https://www.wine-searcher.com/find/dominio+de+...,$980.00,Westgarth Wines,2005Pingus,USA (CA)
3027,11625,"Dominio De Pingus,Peter Sisseck",2005,750ml,https://www.wine-searcher.com/find/dominio+de+...,$1499.00,Finding.Wine,Dominiode Pingus2005-Pingus750ml.,USA (FL)
3028,11625,"Dominio De Pingus,Peter Sisseck",2005,750ml,https://www.wine-searcher.com/find/dominio+de+...,$1695.00,Cellaraiders,2005Pingus,USA (NY)
3029,11625,"Dominio De Pingus,Peter Sisseck",2005,750ml,https://www.wine-searcher.com/find/dominio+de+...,$5875.00,Westgarth Wines,2005Pingus,USA (CA)

In [428]:
num=df1['SKU'].unique()
num

array([11331, 11332, 11333, 11334, 11335, 11336, 11337, 11338, 11339,
       11340, 11341, 11342, 11343, 11344, 11345, 11346, 11347, 11348,
       11349, 11350, 11351, 11352, 11353, 11354, 11355, 11356, 11357,
       11358, 11359, 11360, 11361, 11362, 11363, 11364, 11365, 11366,
       11367, 11368, 11369, 11370, 11371, 11372, 11373, 11374, 11376,
       11377, 11378, 11379, 11380, 11381, 11382, 11383, 11384, 11385,
       11386, 11388, 11389, 11390, 11391, 11392, 11393, 11394, 11395,
       11397, 11398, 11399, 11400, 11401, 11402, 11403, 11404, 11405,
       11406, 11407, 11408, 11409, 11410, 11411, 11412, 11413, 11414,
       11415, 11416, 11417, 11418, 11419, 11420, 11421, 11422, 11423,
       11424, 11425, 11426, 11427, 11428, 11429, 11430, 11431, 11432,
       11433, 11434, 11435, 11436, 11437, 11438, 11439, 11440, 11441,
       11442, 11444, 11445, 11446, 11448, 11449, 11451, 11452, 11453,
       11454, 11455, 11456, 11458, 11459, 11460, 11461, 11462, 11463,
       11464, 11465, 11466, 11467, 11468, 11469, 11470, 11471, 11472,
       11473, 11476, 11477, 11478, 11479, 11480, 11481, 11482, 11483,
       11484, 11485, 11486, 11487, 11488, 11489, 11491, 11492, 11493,
       11494, 11495, 11496, 11497, 11498, 11499, 11500, 11501, 11502,
       11503, 11505, 11506, 11507, 11508, 11509, 11510, 11511, 11512,
       11513, 11514, 11515, 11516, 11517, 11518, 11519, 11520, 11522,
       11523, 11524, 11525, 11526, 11527, 11528, 11529, 11530, 11531,
       11532, 11533, 11534, 11535, 11536, 11537, 11539, 11540, 11541,
       11542, 11543, 11544, 11545, 11546, 11547, 11548, 11549, 11550,
       11551, 11552, 11553, 11554, 11555, 11556, 11557, 11559, 11560,
       11561, 11562, 11563, 11564, 11565, 11566, 11567, 11568, 11570,
       11571, 11572, 11573, 11574, 11575, 11576, 11577, 11578, 11579,
       11580, 11581, 11582, 11583, 11584, 11585, 11586, 11587, 11588,
       11589, 11590, 11592, 11593, 11594, 11595, 11596, 11597, 11598,
       11599, 11600, 11601, 11602, 11603, 11604, 11605, 11606, 11607,
       11608, 11609, 11610, 11611, 11612, 11613, 11614, 11615, 11616,
       11617, 11618, 11619, 11620, 11621, 11622, 11624, 11625],
      dtype=int64)

In [429]:
df1['PRICE']=df1['PRICE'].str.replace("$","")
df1['PRICE']

0        329.00
1        175.00
2        304.00
3        359.99
4        379.00
         ...
3025     949.00
3026     980.00
3027    1499.00
3028    1695.00
3029    5875.00
Name: PRICE, Length: 3030, dtype: object

In [430]:
first=list(df1["PRICE"].groupby(df1['SKU']))
firstlist=[]
for i in range(len(first)):
    temp=first[i][1].array
    firstlist.append(temp[0])

In [431]:
firstlist

['329.00',
 '175.00',
 '304.00',
 '329.00',
 '304.00',
 '334.00',
 '334.00',
 '156.00',
 '266.00',
 '949.00',
 '699.00',
 '349.00',
 '228.00',
 '95.00',
 '626.00',
 '499.97',
 '158.00',
 '255.00',
 '239.00',
 '225.00',
 '449.98',
 '320.00',
 '349.95',
 '325.00',
 '390.00',
 '250.00',
 '383.00',
 '499.00',
 '119.00',
 '139.00',
 '79.99',
 '132.00',
 '96.95',
 '120.00',
 '425.00',
 '425.00',
 '350.00',
 '395.00',
 '435.00',
 '509.00',
 '873.00',
 '899.00',
 '398.00',
 '59.00',
 '295.00',
 '185.00',
 '180.00',
 '119.99',
 '158.00',
 '120.00',
 '210.00',
 '312.00',
 '150.00',
 '540.00',
 '125.00',
 '260.00',
 '316.00',
 '189.00',
 '189.00',
 '199.00',
 '159.00',
 '165.00',
 '285.00',
 '171.00',
 '195,761?',
 '189.98',
 '215.00',
 '108.95',
 '162.00',
 '209.00',
 '130.00',
 '269.94',
 '225.00',
 '114.98',
 '163.89',
 '219.00',
 '206.00',
 '129.00',
 '135.00',
 '195.00',
 '45.00',
 '234.00',
 '74.95',
 '525.00',
 '585.00',
 '819.00',
 '407.00',
 '300.00',
 '215.00',
 '188.00',
 '177.00',
 '195.00',
 '159.00',
 '375.00',
 '129.94',
 '200.00',
 '239.00',
 '179.00',
 '199.00',
 '278.00',
 '189.00',
 '399.99',
 '621.00',
 '399.98',
 '500.00',
 '799.00',
 '399.00',
 '695.00',
 '514.99',
 '550.00',
 '550.00',
 '799.00',
 '898.00',
 '725.00',
 '845.00',
 '835.00',
 '425.00',
 '899.00',
 '895.99',
 '599.00',
 '392.00',
 '75.00',
 '449.00',
 '459.00',
 '557.00',
 '557.00',
 '535.00',
 '789.00',
 '724.99',
 '475.00',
 '480.00',
 '549.99',
 '549.00',
 '549.00',
 '300.00',
 '149.94',
 '185.00',
 '152.00',
 '133.00',
 '389.00',
 '459.00',
 '327.97',
 '139.00',
 '139.00',
 '170.00',
 '170.00',
 '300.00',
 '299.00',
 '175.00',
 '179.99',
 '248.99',
 '123.95',
 '319.00',
 '325.00',
 '139.00',
 '185.00',
 '139.97',
 '109.95',
 '160.00',
 '345.00',
 '137.00',
 '139.00',
 '124.95',
 '175.00',
 '135.00',
 '177.00',
 '999.00',
 '450.00',
 '315.00',
 '390.00',
 '799.99',
 '495.00',
 '485.00',
 '395.00',
 '450.00',
 '848.00',
 '675.00',
 '200.00',
 '325.00',
 '147.00',
 '190.00',
 '209.99',
 '162.00',
 '288.00',
 '234.95',
 '1099.00',
 '425.00',
 '449.00',
 '419.99',
 '495.00',
 '449.00',
 '525.00',
 '685.00',
 '685.00',
 '575.00',
 '499.00',
 '250.00',
 '340.00',
 '225.00',
 '199.99',
 '139.00',
 '175.00',
 '127.00',
 '205.00',
 '170.00',
 '170.00',
 '206.00',
 '250.00',
 '475.00',
 '244.95',
 '180.00',
 '269.00',
 '390.00',
 '385.00',
 '139.00',
 '1895.00',
 '6319.00',
 '2525.00',
 '2300.00',
 '3200.00',
 '133.13',
 '139.00',
 '119.00',
 '99.00',
 '245.00',
 '190.00',
 '73.00',
 '73.00',
 '224.95',
 '142.00',
 '150.00',
 '129.00',
 '120.00',
 '114.95',
 '152.00',
 '74.98',
 '105.00',
 '209.00',
 '129.99',
 '75.00',
 '139.00',
 '129.00',
 '236.00',
 '155.00',
 '139,829?',
 '158.00',
 '389.00',
 '325.00',
 '99.00',
 '194.94',
 '202.00',
 '169.00',
 '145.00',
 '240.00',
 '182.00',
 '500.00',
 '135.00',
 '395.00',
 '430.00',
 '158.00',
 '239.00',
 '333.33',
 '455.00',
 '470.00',
 '152.00',
 '145.00',
 '149.99',
 '109.00',
 '259.99',
 '455.00',
 '127.00',
 '299.95',
 '221.00',
 '145.00',
 '215.00',
 '485.00',
 '500.00',
 '750.00']

In [433]:
li=list(df1["PRICE"].groupby(df1['SKU']))

In [435]:
second=[]
for i in range(len(li)):
    if(len(li[i][1])==1):
        temp=li[i][1].array  
        second.append(temp[0])
    elif(len(li[i][1])>1):       
        temp=li[i][1].array
        second.append(temp[1])

In [436]:

len(second)

278

In [437]:
second

['329.00',
 '175.00',
 '359.99',
 '339.00',
 '315.00',
 '364.99',
 '364.99',
 '278.00',
 '266.00',
 '3500.00',
 '699.00',
 '499.00',
 '289.99',
 '115.00',
 '699.99',
 '1099.00',
 '1200.00',
 '325.55',
 '249.00',
 '232.89',
 '475.00',
 '411.00',
 '375.00',
 '390.00',
 '390.00',
 '259.99',
 '385.00',
 '650.00',
 '127.00',
 '140.00',
 '127.00',
 '175.00',
 '129.94',
 '139.00',
 '475.00',
 '475.00',
 '443.00',
 '455.00',
 '450.00',
 '525.00',
 '875.00',
 '1050.00',
 '479.00',
 '65.00',
 '304.00',
 '199.00',
 '215.00',
 '162.00',
 '200.00',
 '125.00',
 '217.00',
 '315.00',
 '218.00',
 '599.00',
 '269.98',
 '297.00',
 '354.00',
 '194.99',
 '194.99',
 '239.00',
 '179.95',
 '169.00',
 '311.00',
 '219.99',
 '206,947?',
 '190.00',
 '215.00',
 '109.00',
 '175.00',
 '209.00',
 '155.00',
 '275.00',
 '228.00',
 '119.00',
 '245.00',
 '228.00',
 '209.00',
 '129.00',
 '140.00',
 '195.00',
 '69.00',
 '245.00',
 '144.00',
 '525.00',
 '849.00',
 '825.00',
 '425.00',
 '325.00',
 '219.00',
 '221.00',
 '177.00',
 '197.00',
 '219.00',
 '380.00',
 '133.00',
 '210.00',
 '241.00',
 '235.00',
 '245.00',
 '284.00',
 '202.00',
 '506.75',
 '625.00',
 '400.00',
 '1099.00',
 '875.00',
 '895.00',
 '810.00',
 '750.00',
 '750.00',
 '750.00',
 '889.00',
 '1333.33',
 '725.00',
 '846.00',
 '863.00',
 '435.00',
 '899.00',
 '899.00',
 '633.00',
 '899.99',
 '83.00',
 '450.00',
 '495.00',
 '557.00',
 '650.00',
 '560.00',
 '795.00',
 '999.00',
 '475.00',
 '495.00',
 '550.00',
 '575.00',
 '869.00',
 '348.00',
 '149.99',
 '190.00',
 '159.98',
 '140.00',
 '400.00',
 '481.00',
 '345.00',
 '144.95',
 '144.95',
 '195.00',
 '195.00',
 '309.00',
 '299.00',
 '175.00',
 '188.00',
 '275.00',
 '198.98',
 '331.99',
 '350.00',
 '170.00',
 '195.00',
 '230.00',
 '134.00',
 '195.00',
 '375.00',
 '175.00',
 '164.00',
 '135.00',
 '179.00',
 '139.00',
 '185.00',
 '1000.00',
 '475.00',
 '493.00',
 '495.00',
 '825.00',
 '499.00',
 '495.00',
 '475.89',
 '500.00',
 '848.00',
 '789.99',
 '280.00',
 '463.65',
 '159.00',
 '195.00',
 '225.00',
 '162.00',
 '288.00',
 '241.00',
 '1199.00',
 '425.00',
 '545.00',
 '479.00',
 '499.00',
 '450.00',
 '545.00',
 '695.00',
 '695.00',
 '579.00',
 '538.89',
 '259.00',
 '349.00',
 '234.00',
 '248.00',
 '159.00',
 '188.95',
 '160.00',
 '209.00',
 '177.98',
 '177.98',
 '218.00',
 '275.00',
 '479.00',
 '260.00',
 '215.00',
 '324.00',
 '395.00',
 '385.00',
 '145.00',
 '2176.00',
 '7528.89',
 '2530.00',
 '2395.00',
 '3400.00',
 '135.00',
 '165.00',
 '132.00',
 '177.00',
 '245.00',
 '190.00',
 '88.00',
 '88.00',
 '228.00',
 '151.00',
 '152.00',
 '162.00',
 '129.00',
 '129.00',
 '155.00',
 '137.00',
 '149.99',
 '209.00',
 '209.00',
 '81.95',
 '145.00',
 '130.00',
 '249.00',
 '155.00',
 '144,304?',
 '163.00',
 '395.00',
 '329.00',
 '184.94',
 '196.00',
 '219.95',
 '175.00',
 '185.00',
 '247.00',
 '219.65',
 '500.00',
 '247.00',
 '449.99',
 '499.99',
 '191.00',
 '329.99',
 '506.00',
 '473.99',
 '475.00',
 '990.00',
 '274.97',
 '166.00',
 '180.00',
 '274.94',
 '459.98',
 '127.00',
 '316.00',
 '350.00',
 '152.00',
 '229.00',
 '499.00',
 '525.00',
 '949.00']

In [438]:
result=[num,firstlist,second]

In [439]:
df3 = pd.DataFrame(result, index = ['SKU', 'FIRST_MINIMUM_PRICE','SECOND_MINIMUM_PRICE'])

In [440]:
df3

,0,1,2,3,4,5,6,7,8,9,...,268,269,270,271,272,273,274,275,276,277
SKU,11331,11332,11333,11334,11335,11336,11337,11338,11339,11340,...,11615,11616,11617,11618,11619,11620,11621,11622,11624,11625
FIRST_MINIMUM_PRICE,329.00,175.00,304.00,329.00,304.00,334.00,334.00,156.00,266.00,949.00,...,259.99,455.00,127.00,299.95,221.00,145.00,215.00,485.00,500.00,750.00
SECOND_MINIMUM_PRICE,329.00,175.00,359.99,339.00,315.00,364.99,364.99,278.00,266.00,3500.00,...,274.94,459.98,127.00,316.00,350.00,152.00,229.00,499.00,525.00,949.00

In [441]:
df1_transposed = df3.T # or df1.transpose()
df1_transposed

       SKU FIRST_MINIMUM_PRICE SECOND_MINIMUM_PRICE
0    11331              329.00               329.00
1    11332              175.00               175.00
2    11333              304.00               359.99
3    11334              329.00               339.00
4    11335              304.00               315.00
..     ...                 ...                  ...
273  11620              145.00               152.00
274  11621              215.00               229.00
275  11622              485.00               499.00
276  11624              500.00               525.00
277  11625              750.00               949.00

[278 rows x 3 columns]

In [442]:
df1_transposed.to_csv('output/lowestPrice.csv',index=False,header=True)